[2022-10-09 07:14] ElvinPero opened #1 "Add a navbar for the site"
Add a simple navbar for search theme home and color. Funtionality will be added later

[2022-10-09 07:16] ElvinPero opened #2 "Add footer to the page"
Do add a simple footer which matches with site style. Valid PRs will be merged

[2022-10-09 07:17] srijoy-paul commented on #1
@ElvinPero Can you assign me this? I would like to work on this

[2022-10-09 07:54] ElvinPero commented on #1
go ahead [srijoy-paul]

[2022-10-09 07:55] ElvinPero commented on #1
go ahead @srijoy-paul

[2022-10-09 08:01] ElvinPero opened #3 "Add 2 more templates in different styles for the first one"
make 2 more of the original template and add below the first one.

[2022-10-09 08:01] zaibugemi commented on #2
Can you please assign this to me?

[2022-10-09 08:07] ElvinPero commented on #2
@zaibugemi  go ahead and create a simple footer which matches the page

[2022-10-09 08:08] ElvinPero opened #4 "Beautify the readme file"
Should contain all the necessary details of a standard readme

[2022-10-09 08:11] louierosero commented on #3
Hi ElvinPero, can you assign this one to me?

[2022-10-09 08:11] najeebkp commented on #4
Hi @ElvinPero  please assign this to me

[2022-10-09 08:13] ElvinPero commented on #3
You are free to put PR @louierosero . Go ahead

[2022-10-09 08:14] ElvinPero commented on #4
@najeebkp go ahead

[2022-10-09 13:00] #4 closed

[2022-10-09 13:49] ElvinPero commented on #3
Thank you @louierosero for your contribution

[2022-10-09 13:49] #3 closed

[2022-10-09 13:51] srijoy-paul commented on #1
I am working on this

[2022-10-09 13:52] ElvinPero opened #8 "Add darkmode to the site with a toggle switch."
Make a dark mode for the site with background change to a dark color completely. Add switch to change it.
Price panel should not change.

[2022-10-09 13:55] Snehil0603 commented on #8
I would like to work on this issue

[2022-10-09 13:59] chintan0513 opened #9 "Add a scroll button in bottom which navigate to header"
Add a scroll button in mobile view as well as in desktop view, which mainly navigates to the top of the website

[2022-10-09 13:59] chintan0513 commented on #9
Please assigned me for this :)

[2022-10-09 14:01] KhafiaAyyub commented on #8
@ElvinPero I would like to work on this issue of adding dark mode feature, Please assign this to me.

[2022-10-09 14:02] Mldamico opened #10 "Better responsive design on mobile"
I can improve the space between containers on mobile breakpoint. Currently each cointainer appear one after the other.

[2022-10-09 14:02] ElvinPero commented on #8
@Snehil0603 @KhafiaAyyub go ahead

[2022-10-09 14:11] ElvinPero commented on #9
@chintan0513 go ahead

[2022-10-09 14:11] chintan0513 commented on #9
Thank you :)

[2022-10-09 14:11] Eknoor02 opened #11 "Adding the pre-loader on the start up o the website"

[2022-10-09 14:13] ElvinPero commented on #10
@Mldamico You can do it

[2022-10-09 14:15] ElvinPero commented on #11
If you can make it work good then go for it.

[2022-10-09 14:15] ElvinPero commented on #11
@Eknoor02  go ahead. Nice idea

[2022-10-09 14:40] Dev-Code24 opened #13 "Overall UI improvements"
improving UI by adding a toggle buttton for dark mode as well as adding transitions and animations

[2022-10-09 14:40] Dev-Code24 commented on #13
@ElvinPero
pls assign this to me

[2022-10-09 15:38] srijoy-paul commented on #1
@ElvinPero I am working on it

[2022-10-09 15:40] ElvinPero commented on #1
Yes sure

[2022-10-09 16:12] #8 closed

[2022-10-09 16:12] ElvinPero commented on #8
Dark mode has been added by @Snehil0603 successfullly

[2022-10-09 16:29] #10 closed

[2022-10-09 16:54] Morbius00 commented on #13
Hey @Dev-Code24 Please assign it me love to work in it

[2022-10-09 16:57] Dev-Code24 commented on #13
Dude @ElvinPero  is the owner of this repository, and I am also asking the same from him/her

[2022-10-09 17:01] ElvinPero commented on #13
@Dev-Code24 @Morbius00 go ahead work on it

[2022-10-09 17:04] Morbius00 commented on #13
Oops 🙊

[2022-10-09 17:06] ElvinPero commented on #13
@Dev-Code24 if you want please work on footer the assignees havent worked on

[2022-10-09 17:15] Morbius00 commented on #13
Well @ElvinPero and @Dev-Code24  if you guys have problem then please allow me to work on the footer and @Dev-Code24 you please fix the toggle button issue

[2022-10-09 17:17] ElvinPero commented on #13
comment on footer issue that you are working on it i will assign you @Morbius00

[2022-10-09 17:21] Morbius00 commented on #2
I want to work on this issue Please assign me...😊

[2022-10-09 17:24] ElvinPero commented on #2
@Morbius00 go ahead

[2022-10-09 17:26] Dev-Code24 commented on #13
yeah sure i have no problem, i can work on the toggle button issue

[2022-10-09 18:26] ArnabDey1543 commented on #11
can you please assign me ??
I have this design for the preloader and its very much similar to UI of the website

https://user-images.githubusercontent.com/81821430/194773237-40a4a255-06b9-4510-828f-aa3baba0e7a8.mp4

[2022-10-09 18:49] saran1522 opened #20 "I want to do some styling in pricing buttons"
I want to add neumorphism effect using the box-shadow property in the pricing buttons. If you want it then please assign this issue to me under hacktoberfest.

[2022-10-09 18:54] Bluebberies opened #21 "I want to preserve mode on refresh."

[2022-10-09 18:55] Bluebberies commented on #21
Adding the mode(dark or light) to local storage so it remains on refresh of the page

[2022-10-09 19:34] Upasana-Roy commented on #2
Hello, I am interested to work on this issue. Please assign it to me.

[2022-10-09 19:38] Upasana-Roy commented on #1
Hello, I am interested to work on this issue. Please assign it to me.

[2022-10-09 19:39] ElvinPero commented on #2
Issue has been resolved

[2022-10-09 19:39] #2 closed

[2022-10-09 19:39] Upasana-Roy commented on #20
Hello, I am interested to work on this issue. Please assign it to me.

[2022-10-09 20:52] Petsamuel opened #24 "Seprates files in different Directory"
Having Separate files for the styles and mark-up language makes the repository neat and readable.
I would like to work on this issue

[2022-10-10 02:40] #9 closed

[2022-10-10 03:45] AvadhootK commented on #1
Hey @ElvinPero , can I work on this issue since it's an urgent one?

[2022-10-10 03:52] ElvinPero commented on #1
Yes since the last assignee hasnt done it yet you can

[2022-10-10 04:19] AvadhootK commented on #1
what all tabs/headings  should be there on the navbar?

[2022-10-10 04:48] lordashuchauhan opened #27 "Light / Dark mode toggle button"
Fixing the light and dark mode feature,
@ElvinPero kindly assign me this under hacktoberFest 2022.

[2022-10-10 06:07] saran1522 commented on #20
Thanks @ElvinPero for assigning it to me :)

[2022-10-10 06:23] abhishek12raj opened #28 "make navbar sticky"
It will make your website more attractive.
@ElvinPero can i work on this?

[2022-10-10 06:34] abhishek12raj opened #30 "add footer section"
make footer section more attractive by adding (follows us on , company ,get help,) and many more.
@ElvinPero can i work on this?

[2022-10-10 06:36] abhishek12raj opened #31 "add icon on website"
![image](https://user-images.githubusercontent.com/99470924/194809705-fdbb99df-d017-46f4-8f8f-db020b0f28e7.png)
@ElvinPero can u assign this to me?

[2022-10-10 06:39] #30 closed

[2022-10-10 06:39] ElvinPero commented on #28
@abhishek12raj go ahead

[2022-10-10 08:03] #1 closed

[2022-10-10 08:23] #28 closed

[2022-10-10 09:20] #21 closed

[2022-10-10 09:20] #11 closed

[2022-10-10 09:20] #31 closed

[2022-10-10 09:20] #27 closed

[2022-10-10 09:21] #20 closed

[2022-10-10 09:22] ElvinPero opened #34 "Fix night mode button to toggle and apply to whole site"
there is still some space left after night mode is activated. Fix that.
Please make a switch instead of button for night mode(standard)

[2022-10-10 09:24] ElvinPero opened #35 "Add templates of design1 to index"
Background should disappear when night mode activated

[2022-10-10 09:26] ElvinPero commented on #13
@Dev-Code24 are you working on this?

[2022-10-10 09:26] GeorgeET15 commented on #34
Hi, I would like to work on this can you please assign this to me thank you.

[2022-10-10 09:33] Dev-Code24 commented on #13
Yes I am working on it.

[2022-10-10 09:42] ElvinPero commented on #13
ok good

[2022-10-10 09:42] #24 closed

[2022-10-10 10:02] i-ujjwaljha opened #36 "New Templates"
Can I add templates of different designs and fix the alignments like changing padding and margin so that the templates don't look cluttered with each other?

[2022-10-10 10:08] ElvinPero commented on #36
@i-ujjwaljha Yes please do.

[2022-10-10 10:27] ElvinPero commented on #34
@GeorgeET15 Go ahead and please do all of the things asked in one PR only. Also make the night mode a dark color not black .

[2022-10-10 10:34] GeorgeET15 commented on #34
Sure

[2022-10-10 11:09] YashGadia commented on #35
@ElvinPero Can you please assign this to me?

[2022-10-10 11:16] ElvinPero commented on #35
@YashGadia please do also note the information about night mode

[2022-10-10 11:18] adarsh-kishore786 opened #40 "Dynamic stylesheets"
I noticed that the same HTML is repeated three times with slightly different CSS. Instead of that, I can create a button with some JS that will dynamically swap the stylesheets, thereby reducing redundant HTML and ability to add more stylesheets later

[2022-10-10 11:29] lukedev820 opened #41 "Unecesary css."
Near the start of **app.css** there is this big block of tags.
[code]

By just having the **html** tag everything inside will also have the properties applied. Overall There's a lot of unnecessary tags and some things should be their own style sheet to avoid clutter. Could i please Have a go at tidying the css files?

[2022-10-10 11:48] PravinPadalkar78 opened #42 "Adding services button in Navbar"
Please assign this feature to me with hacktoberfest lable . #hacktoberfest #enhancement

[2022-10-10 12:08] #41 closed

[2022-10-10 12:10] ElvinPero commented on #40
@adarsh-kishore786 go ahead

[2022-10-10 12:12] #42 closed

[2022-10-10 12:15] BrunoLagoa opened #44 "Dark mode css"
Hello, I could improve the css dark mode by adding new colors. If it makes sense, add me to send my contribution.

[2022-10-10 13:04] ElvinPero commented on #44
@BrunoLagoa dark mode should have toggle switch
and change whole page

[2022-10-10 13:07] dotsbeauty commented on #44
Hey, I can add dark mode toggle into the site, can you assign me this?

[2022-10-10 13:17] Ananmayd commented on #44
hey can i work on this issue ?

[2022-10-10 13:23] Ananmayd commented on #34
Hey can I work on this issue ?

[2022-10-10 13:41] killerraj369 opened #46 "Remove Misalligned Text and Allign Properly"
Hey I have solved this issue by making PR #45
Kindly Merge PR #45 and Provide hacktoberfest label.

[2022-10-10 13:42] YashGadia commented on #35
@ElvinPero I've solved the issue. Can you please check and review my work? I'm attaching the screen recording for all the changes that I've done.

https://user-images.githubusercontent.com/101691073/194880016-7310191e-0337-4af9-b19b-1c9274ba95d9.mp4

Thank you!

[2022-10-10 13:50] ElvinPero commented on #35
@YashGadia well done

[2022-10-10 13:50] ElvinPero commented on #35
You can PR

[2022-10-10 14:29] rajpatil1743 commented on #46
please assign this to me

[2022-10-10 15:32] Kritika30032002 opened #48 "Improving the CSS to make it more catchy or attractive"
Due to CSS and structure of blocks, its not looking like a catchy or desired price template. You can assign this issue to me ,if you feel the same.

[2022-10-10 15:39] MdSaoodKhan commented on #44
Please can i work on this issue?

[2022-10-10 16:57] Dev-Code24 commented on #13
@ElvinPero
i just saw that the complete repository has been modified and the changes that i made weren't looking like the change which is needed
So i need a bit of time to do the job done once again

[2022-10-10 17:59] aditi10701 opened #53 "enhancement of navbar"
A similar navbar can be put to give better user UI experience.
Kindly assign me this issue. I want to work on it.
![image](https://user-images.githubusercontent.com/98349669/194926835-6e3bf967-14b1-442e-a467-eeafa638095d.png)

[2022-10-10 18:01] gaurav-iitb commented on #44
can you assign me this thankyou

[2022-10-10 18:04] gaurav-iitb commented on #34
can you please assign to me

[2022-10-10 18:48] Siddhesh172004 commented on #53
![navbar1](https://user-images.githubusercontent.com/84581657/194931464-364a923a-eb4f-4ff6-9360-970b0fb97521.JPG)

When we click the search bar this pops up :-

![navbar2](https://user-images.githubusercontent.com/84581657/194931588-fe5e2268-2086-48dc-bfa2-74a736a1d0b7.JPG)

We can add the toggle button of dark mode  and can put the center menu link to the right side similar to your design.

As me

[2022-10-10 18:52] Siddhesh172004 commented on #34
Hey can you please assign to me . I think I can Fix this bug.

[2022-10-10 19:10] ElvinPero commented on #34
whoever is fixing this please fix the whole website according to nightmode so it covers the whole page . and also the nigh mode doesnt change sometimes.. there is a bug

[2022-10-10 19:12] ElvinPero commented on #53
@Siddhesh172004 go for it and please make appropriate fields in nav

[2022-10-10 21:01] neeldoshii opened #55 "Add more Pricing Template"

[2022-10-10 21:02] neeldoshii opened #56 "New Pricing Template with style change support for users."

[2022-10-10 21:50] devjain2309 commented on #44
Hey, Please assign me this.

[2022-10-11 05:00] #40 closed

[2022-10-11 05:00] Ritu-2001 opened #60 "1)Contact Us page is not added"

[2022-10-11 05:01] Ritu-2001 opened #61 "After Clicking Signup button it not hovering and not changing it's color like other button do"

[2022-10-11 05:02] Ritu-2001 commented on #61
will you please assign me to work on this issue

[2022-10-11 06:07] Ritu-2001 commented on #60
will you assign me to add contact us page

[2022-10-11 06:10] ElvinPero commented on #60
yes @Ritu-2001 go ahead

[2022-10-11 06:23] devjain2309 commented on #34
Hey, Elvin I would like to do this task. Please assign me this

[2022-10-11 06:25] Ritu-2001 commented on #60
ok

[2022-10-11 06:26] devjain2309 commented on #61
this bug is already cleared by my pull request

[2022-10-11 08:42] PravinPadalkar78 opened #64 "Add Contributing.md file"
I would like to add contributing.md file to your repository. Please assign this issue to me #hacktoberfest

[2022-10-11 08:57] Dev-Code24 commented on #13
Can you pls add a demo website for this repository in the description of the repository

[2022-10-11 08:58] Dev-Code24 commented on #13
@ElvinPero

Can you pls add a demo website for this repository in the description of the repository

[2022-10-11 10:24] ElvinPero commented on #13
@Dev-Code24 At this time I am quite busy checking the requests. Will add in future. Have you done the UI improvements. The site currently needs a big change since a lot of first timers have made the codes in a wrong fashion

[2022-10-11 10:37] ElvinPero opened #65 "accidental merge .Revert to two merges behind"

[2022-10-11 10:51] #65 closed

[2022-10-11 11:04] #34 closed

[2022-10-11 11:04] #35 closed

[2022-10-11 11:04] #36 closed

[2022-10-11 11:04] #44 closed

[2022-10-11 11:04] #46 closed

[2022-10-11 11:04] #61 closed

[2022-10-11 11:04] #48 closed

[2022-10-11 11:04] #55 closed

[2022-10-11 11:04] #56 closed

[2022-10-11 11:05] #53 closed

[2022-10-11 11:07] PravinPadalkar78 commented on #64
could you please assign hacktoberfest label

[2022-10-11 11:07] ElvinPero opened #66 "Add dark mode toggle sswitch and navbar modify"
Change the navbar design to be more darker and modern.
add darkmode by a toggle slider like this
![image](https://user-images.githubusercontent.com/101408574/195074433-c30c2264-ca1b-4ce0-8ffa-4a41c3e1821a.png)
It should make a dark theme but not black and apply to whole templates rather than just background . Only those who can work this out in a single PR apply

[2022-10-11 11:10] BrunoLagoa opened #67 "Adjust the themes button"
It would be nice to adjust the themes button:
  - Adjust the size, leaving it at the input height
  - Add a space between the button and the input

<img width="450" alt="Captura de Tela 2022-10-11 às 08 08 44" src="https://user-images.githubusercontent.com/3878945/195075117-9fe75da0-4471-49ec-a367-8ec598d4ce37.png">

[2022-10-11 11:11] ElvinPero commented on #67
@BrunoLagoa

[2022-10-11 11:14] Kritika30032002 commented on #48
Add a label of #hacketoberfest to this issue.

[2022-10-11 11:15] shubhammore45 commented on #67
Hey can you assign it to me?

[2022-10-11 11:18] ElvinPero commented on #67
@shubhammore45  see the navigation issue. This one is a duplicate i am closing this

[2022-10-11 11:18] #67 closed

[2022-10-11 11:19] #64 closed

[2022-10-11 11:22] shubhammore45 commented on #67
Okay

[2022-10-11 11:23] shubhammore45 commented on #66
Please assign this one to me

[2022-10-11 11:26] ElvinPero commented on #66
@shubhammore45 What changes can you do. Can you perform all the tasks listed here without any problem?

[2022-10-11 11:27] ElvinPero commented on #66
there are 3 tasks listed here . Only those who can do all3 should apply

[2022-10-11 11:35] abel-otegbola commented on #66
Hello @ElvinPero I can do all three tasks.
I will fix  the navbar design, add darkmode toggle and implement to to all templates just as you want.

[2022-10-11 11:39] ElvinPero commented on #66
@abel-otegbola Go ahead and please be sure to improve the site professionaly . Good PR will be reward

[2022-10-11 11:41] abel-otegbola commented on #66
Alright. Thank you

[2022-10-11 11:54] neeldoshii commented on #60
Can I work on it @ElvinPero

[2022-10-11 11:56] neeldoshii commented on #66
@abel-otegbola Check this https://codepen.io/PaulinaSurazynska/pen/bGVpBOb

[2022-10-11 12:02] ElvinPero commented on #60
@neeldoshii create in the webpage itself at the bottom

[2022-10-11 12:06] neeldoshii opened #69 "Dark Mode Not working"

[2022-10-11 12:08] ElvinPero commented on #69
@neeldoshii This issue is already created .

[2022-10-11 12:08] #69 closed

[2022-10-11 12:22] Ritu-2001 commented on #60
@ElvinPero  I already add it with index.html

[2022-10-11 12:27] ElvinPero commented on #60
@Ritu-2001 It has to be created for the current version

[2022-10-11 12:38] abel-otegbola commented on #66
Thanks for sharing. I will create it just like the codepen.

[2022-10-11 12:40] Kritika30032002 opened #71 "Improving Layout of price template"
Change in Layout can make it more attractive. Allow me to do this.
Assign this issue to me!!

[2022-10-11 12:48] ElvinPero commented on #71
@Kritika30032002 I would assign once the nightmode is done . Please wait till tomorrow

[2022-10-11 12:50] ElvinPero commented on #66
@abel-otegbola kindly make this one like https://henryegloff.com/how-to-code-a-simple-dark-mode-toggle/

[2022-10-11 12:52] Kritika30032002 commented on #71
okay

[2022-10-11 12:53] devjain2309 commented on #66
![Screenshot (30)](https://user-images.githubusercontent.com/69387311/195095993-4ff3eda4-b1df-4b8f-a320-43de1645787b.png)
Are you talking about this.

[2022-10-11 12:57] devjain2309 commented on #66
Please assign me this.

[2022-10-11 12:57] ElvinPero opened #72 "PR template"
# Issue no.
# Brief description
# Screenshots or videos
### Also make sure the branch has no conflicts with main
### Resolve issues only within the issue you are assigned

### Only assignees can PR

[2022-10-11 13:03] ElvinPero commented on #66
@devjain2309 This current issue has three problems , If current assignee is not able to complete ,I will assign but for now you can create another issue and work on that

[2022-10-11 13:12] ElvinPero commented on #60
@neeldoshii Please make the contact us page below the main site and the button should navigate to that section of the page.
If night mode patch comes before your PR, please make it working with that ,
else do it on the current site.

[2022-10-11 13:43] devjain2309 opened #73 "Home page for site"
Please Give suggestions on what kind of logo you want.
I'll make it and deploy it with your title of the website.

[2022-10-11 14:25] Dev-Code24 commented on #13
No I haven't finished yet
It's taking time

[2022-10-11 14:27] neeldoshii commented on #60
@Ritu-2001 where is your contact us in index.html?

[2022-10-11 14:31] Ritu-2001 commented on #60
I add it in previous version, but it has to be created in current version

[2022-10-11 14:32] MridulTailor opened #74 "Dark mode toggle switch improvements"
Will make it rounder and give some space to right so that it looks good.

[2022-10-11 14:36] Ritu-2001 commented on #60
![Screenshot (30)](https://user-images.githubusercontent.com/100128956/195120978-164f1c3a-e21b-4678-b004-87a94474b1ec.png)
This is

[2022-10-11 14:39] Ritu-2001 commented on #60
![Screenshot (31)](https://user-images.githubusercontent.com/100128956/195121668-dce1cda6-95f1-4c50-9d67-a490e66d6623.png)
@neeldoshii SEE It

[2022-10-11 14:40] neeldoshii commented on #60
i don't think this will ever go with the theme of the current website.

[2022-10-11 14:58] ElvinPero commented on #74
@MridulTailor Dark mode is already been worked  on by someone. I would suggest raise a different issue.

[2022-10-11 15:44] MridulTailor opened #76 "Custom scrollbar"
I will make a custom scrollbar

[2022-10-11 16:06] #74 closed

[2022-10-11 16:19] ElvinPero commented on #71
@Kritika30032002 are you familiar with slideshow crousel?

[2022-10-11 16:26] ElvinPero commented on #73
@devjain2309 Can you create a homepage for the website with some description, Logo on the right and Big name of the site occupying 3/4 of the block from right . below logo and name will be centered description .
It sould look modern may be colur of darker tone

[2022-10-11 16:26] ElvinPero commented on #73
The home will be below the nav and occupy a screen size only. the code shouldnt alter any other thing on site

[2022-10-11 16:27] ElvinPero commented on #73
I can assign you this if you can do it @devjain2309

[2022-10-11 16:28] ElvinPero commented on #72
@suryansh-bhatnagar what will you do?

[2022-10-11 16:29] ElvinPero commented on #66
@abel-otegbola How much time  would it take ? Can you do this by tomorrow afternoon IST

[2022-10-11 16:38] #76 closed

[2022-10-11 16:40] ElvinPero commented on #13
@Dev-Code24 What changes are you trying to make ? Give me an idea so I can guide you

[2022-10-11 16:45] devjain2309 commented on #73
Yes I'll do it but can you please provide me structure on paper or any similar image.

[2022-10-11 16:54] ElvinPero commented on #73
![image](https://user-images.githubusercontent.com/101408574/195152316-04b81d5d-b36f-482e-bb01-67f553251eb7.png)
simple design like this you can do. Ignore the right side of this page.
Just logo on left heading on centre right(Large extra bold but modern preferably white roboto)
description centre. few lines.
background like this image eye soothing may be  dark shade of blue.

[2022-10-11 16:54] ElvinPero commented on #73
This would be a heavy task for a beginner . Only take if you are able to do it. and PR by template given

[2022-10-11 16:56] ElvinPero commented on #72
@suryansh-bhatnagar I have already made this . Are you saying you will make an automated one?

[2022-10-11 16:57] ElvinPero commented on #72
elaborate

[2022-10-11 17:08] Dev-Code24 commented on #13
@ElvinPero
I have made the PR, you can check

[2022-10-11 17:09] Kritika30032002 commented on #71
yes

[2022-10-11 17:12] abel-otegbola commented on #66
Yes. I will get it done before that time.

[2022-10-11 17:13] ElvinPero commented on #13
@Dev-Code24 Make animations fast . Overall good work

[2022-10-11 17:13] Anurag-Singh-04 opened #80 "Improving the UI of navbar"
Hi @ElvinPero I would like to improve the UI of the navbar by making its position sticky and improving the search button and search bar.
Can you please assign this to me.

[2022-10-11 17:16] devjain2309 commented on #73
Ok, But it's not that hard. I'll do it in approx. 12 hours

[2022-10-11 17:18] devjain2309 commented on #73
If you provide what description you need then it will help me.

[2022-10-11 17:19] ElvinPero commented on #80
@Anurag-Singh-04 Work on nav is already being done by someone . do you have any other issue to work on

[2022-10-11 17:26] ElvinPero commented on #66
@abel-otegbola Okay Nice Also look at current patch and change it accordingly

[2022-10-11 17:28] ElvinPero commented on #73
@devjain2309 Upto you .it can be changed later. Main part is the code. Should i assign you this ?

[2022-10-11 17:35] devjain2309 commented on #73
Can you confirm your website Name so I will put it in header

[2022-10-11 17:39] Dev-Code24 commented on #13
Ok👌

[2022-10-11 17:43] ElvinPero commented on #73
@devjain2309 Currently you can go with price Temp.

[2022-10-11 18:15] #80 closed

[2022-10-11 18:43] Dev-Code24 commented on #13
made the animation for the hamburger menu faster too
https://user-images.githubusercontent.com/97425135/195173516-ab3bc684-eee7-433a-9057-bd6b14f81f2a.mov

[2022-10-11 18:45] ElvinPero commented on #13
@Dev-Code24 Works fine

[2022-10-11 18:46] ElvinPero commented on #13
you can PR

[2022-10-11 18:46] suryansh-bhatnagar commented on #72
Yes i will make it automated like if someone wants to give  PR then he/she should  have to  answer some questions before raising  PR

[2022-10-11 18:48] ElvinPero commented on #72
@suryansh-bhatnagar Go ahead . Please do follow the questions i have made also

[2022-10-11 19:06] devjain2309 commented on #73
Can I add sections in page

[2022-10-11 19:15] suryansh-bhatnagar commented on #72
Sure 👍

[2022-10-11 20:43] neeldoshii commented on #73
Main question what should actually go into homepage?

[2022-10-12 02:14] ElvinPero commented on #13
@Dev-Code24 Great work

[2022-10-12 02:14] #13 closed

[2022-10-12 03:26] ElvinPero commented on #73
@neeldoshii currently homepage and its design below nav is the main concern . though you can show your creativity .
Logo on left by some logo generator size preferably large
https://github.com/ElvinPero/PriceTemplate/issues/73#issuecomment-1274996637
see this.

[2022-10-12 03:42] Dev-Code24 commented on #13
Thanks :)

[2022-10-12 03:53] abel-otegbola commented on #66
[Price-Tiers (1).webm](https://user-images.githubusercontent.com/59369762/195246035-baefb5d6-b853-403a-876a-d7fb46ac53a4.webm)
Hi. Here is a quick video of the changes I've made.

[2022-10-12 04:42] ElvinPero commented on #66
@abel-otegbola You can PR ..but can you add change style button like current site in description. Only change style needs to be added to you patch. Apart from that everything is perfect.

[2022-10-12 06:55] AditiSingh2003 opened #84 "Icons not visible"
In toggle effect the icon is not visible and same goes with reposito
<img width="960" alt="new hacktober" src="https://user-images.githubusercontent.com/97729662/195271336-1e58670f-3eda-4882-bb1d-8492d738e737.png">
<img width="960" alt="hacktober" src="https://user-images.githubusercontent.com/97729662/195271442-24f286d2-9714-454c-ad11-0b34046df0ed.png">
ry.

[2022-10-12 14:04] ElvinPero commented on #84
@AditiSingh2003 check now

[2022-10-12 14:04] #84 closed

[2022-10-12 17:14] neeldoshii commented on #72
Can i also work it?

[2022-10-12 17:18] neeldoshii commented on #60
@ElvinPero the issue is fixed

[2022-10-12 17:18] neeldoshii opened #86 "Contact us Navbar and theme needs to be matched with respect to homepage"

[2022-10-12 17:22] Kritika30032002 commented on #71
@ElvinPero   Can you assign me now?

[2022-10-12 17:43] #66 closed

[2022-10-12 17:45] ElvinPero commented on #71
@Kritika30032002 Yes can you design a home page

[2022-10-12 18:02] Kritika30032002 commented on #71
Yes

You can assign this to me!

Do I need to create a different issue for that?

[2022-10-12 18:03] Kritika30032002 commented on #73
You can assign this to me!!

[2022-10-12 18:04] ElvinPero commented on #71
I will be creating the issue just now

[2022-10-12 18:05] #73 closed

[2022-10-12 18:06] Kritika30032002 opened #87 "About us but above the footer not separate page"
About page is showing error 404

![Screenshot (19445)](https://user-images.githubusercontent.com/83400697/195415922-386b0344-e270-43e8-995f-cce474336064.png)

Assign this issue to me!!

[2022-10-12 18:09] ElvinPero opened #88 "Home page for the site"
Below the nav one screen size
Background light white with some animations simple going on.(compatible with dark mode)
  LOGO on left   (Large) Font Price templates on right (compatible with dark mode)
some description below .

[2022-10-12 18:09] Kritika30032002 opened #89 "Update Contact Page (links work, dark mode, content, theme{background with some animations simple design})"
Contact Page is showing random text(Lorem Ipsum) rather than relevant one!!

Also Layout is not looking Good.

Assign this to me!!

![Screenshot (19446)](https://user-images.githubusercontent.com/83400697/195416790-efa56919-6d83-428d-9f84-3231cea7ebb5.png)

[2022-10-12 18:11] Kritika30032002 commented on #71
okay

[2022-10-12 18:15] suryansh-bhatnagar commented on #72
@ElvinPero  hey can you please add hacktoberfest label on it

[2022-10-12 18:17] ElvinPero commented on #89
@Kritika30032002 go ahead also make the theme better and fix night mode for it to remain same as current page

[2022-10-12 18:17] Kritika30032002 commented on #87
Hey @ElvinPero !!

above the nav not separate page means?
What actually you want?

[2022-10-12 18:18] ElvinPero commented on #87
@Kritika30032002 above footer :{

[2022-10-12 18:18] Kritika30032002 commented on #89
okay @ElvinPero

[2022-10-12 18:18] #60 closed

[2022-10-12 18:21] suryansh-bhatnagar opened #91 "Contact us nav bar not working"
![image](https://user-images.githubusercontent.com/90460257/195418948-4e904895-f9f0-4dfd-9a72-1ace140c0727.png)

[2022-10-12 18:22] devjain2309 opened #92 "Logo"
A logo is still not added.

[2022-10-12 18:23] suryansh-bhatnagar commented on #72
Don't start working on it coz i have completed this

[2022-10-12 18:23] Kritika30032002 commented on #87
Okay

[2022-10-12 18:23] ElvinPero commented on #72
@suryansh-bhatnagar can you give a demo video or something on the isuue u have resolved

[2022-10-12 18:26] devjain2309 commented on #89
Dark mode is not added
You can assign me that.

[2022-10-12 18:28] #71 closed

[2022-10-12 18:28] ElvinPero commented on #92
A good home page will have it

[2022-10-12 18:33] jsvigneshkanna commented on #87
@ElvinPero , please assign me this issu

[2022-10-12 18:42] #92 closed

[2022-10-12 18:43] ElvinPero commented on #91
already created issue

[2022-10-12 18:43] #91 closed

[2022-10-12 18:43] ElvinPero commented on #89
@Kritika30032002 Can you work on both isssues at same time

[2022-10-12 18:43] ElvinPero commented on #89
Or would u like to pass this one

[2022-10-12 18:46] Kritika30032002 commented on #89
Yes!!

[2022-10-12 18:51] suryansh-bhatnagar commented on #72
@ElvinPero  I have raised a PR you can checkout

[2022-10-12 18:52] ElvinPero commented on #72
ok

[2022-10-12 18:55] ElvinPero commented on #87
@jsvigneshkanna tell me what you can do

[2022-10-12 18:55] ElvinPero commented on #87
@Kritika30032002 is not working on this one now @jsvigneshkanna tell me your ideas

[2022-10-12 18:56] ElvinPero commented on #87
template to be followed

[2022-10-13 05:46] #72 closed

[2022-10-13 08:44] Upasana-Roy commented on #87
Assign this to me.... I want to work on this following the template and add some creative ideas

[2022-10-13 09:29] ElvinPero commented on #87
Ok go ahead i will be assigning

[2022-10-13 14:21] jsvigneshkanna opened #93 "About us page toggle button issue"
Description:

In about-us page, there is addition checkbox near darkmode toggle button

Screenshot:
![image](https://user-images.githubusercontent.com/42484705/195623066-41688eee-2f61-459f-b610-cda46b6bc643.png)

Please assign me this issue, will fix it

[2022-10-13 14:23] jsvigneshkanna opened #94 "Navlinks in aboutus page not working"
Description:

In about-us page nav links are working as expected. Its redirecting to # which is not user-friendly

Please assign me this issue, will fix it

[2022-10-13 16:04] ElvinPero commented on #87
@Upasana-Roy are you working on it?

[2022-10-13 16:23] Kritika30032002 commented on #89
@ElvinPero  yes I am working on it.

You can assign only enhancement of dark mode to devjain if you want

[2022-10-13 16:28] Upasana-Roy commented on #87
yes I am Currently doing that. Please don't assign it to anyone else.

[2022-10-13 16:31] ElvinPero commented on #87
OK @Upasana-Roy Have u read the comments in this issue what I have discussed

[2022-10-13 16:32] Upasana-Roy commented on #87
Yes @ElvinPero I am following those

[2022-10-13 16:38] ElvinPero commented on #87
@Upasana-Roy OK Please design it with necessary content and theme as this issue is as not hard for a second review.

[2022-10-13 16:51] ElvinPero commented on #93
@jsvigneshkanna About us page has to be made

[2022-10-13 16:52] #94 closed

[2022-10-13 16:52] #93 closed

[2022-10-13 16:52] #86 closed

[2022-10-13 16:57] jsvigneshkanna commented on #93
@ElvinPero , I meant contact page

[2022-10-13 16:59] jsvigneshkanna commented on #94
Hi @ElvinPero ,

I meant contact page, the navlinks are not working in production.
Please reopen this issue, and assign me

[2022-10-13 17:04] ElvinPero commented on #94
@jsvigneshkanna Contact us page is being designed in other issue

[2022-10-13 17:04] ElvinPero commented on #94
You can work on some other issue if you want

[2022-10-13 17:05] ElvinPero commented on #93
@jsvigneshkanna this issue is already being taken care of by someone . see the current issues and ask which u think you can solve
two are open rn.

[2022-10-13 17:30] ElvinPero commented on #87
ELVIN pero#6494

[2022-10-14 06:19] musadiqpeerzada opened #98 "Search Test not visible in dark mode when out of focus"
The search text is not visible since it's in black color when the search bar is not in focus. The text is still there when you put it in focus again
1.
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/79042326/195776106-b710b8c3-0475-43f2-ae5c-0deb5975de84.png">

2.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/79042326/195776313-dfa00ad3-

[2022-10-14 06:29] ElvinPero commented on #98
@musadiqpeerzada Would you like to create home page along with fixing this ?
Homepage has hacktoberfest label

[2022-10-14 06:55] ratansen commented on #98
Would you please assign it to me and add the hacktoberfest tag to it.

[2022-10-14 07:09] ElvinPero commented on #98
@musadiqpeerzada This wont have tag as its too simple. Homepage does have

[2022-10-14 13:33] amananand917 opened #99 "adding About us page."
Right now, about us page does not work. i can add a new page.
@ElvinPero

[2022-10-14 13:44] ElvinPero commented on #89
@Kritika30032002 Hey whats the progress on this one

[2022-10-14 14:42] Kritika30032002 commented on #89
its done along with dark mode enabled

@ElvinPero   PR has been sent  #100

Dark mode also enabled!!

[2022-10-14 16:19] ElvinPero commented on #87
@Upasana-Roy Can you figure out why img is not showing in about us . It might be a bug or problem in linking. can u please solve. I have merged you pr
![image](https://user-images.githubusercontent.com/101408574/195893930-8b40c7b0-9834-4710-a508-77e8bd770525.png)

[2022-10-14 17:30] #98 closed

[2022-10-14 17:30] #99 closed

[2022-10-14 18:54] Abhijeet03s commented on #88
Hey @ElvinPero, please assign this to me.

[2022-10-14 18:55] ElvinPero commented on #88
@Abhijeet03s can you do all the tasks asked?

[2022-10-14 18:56] ElvinPero commented on #88
It shoukd have dark mode theme as well

[2022-10-14 18:59] Abhijeet03s commented on #88
But the website has already a dark mode button. Do you want to change that?

[2022-10-14 19:04] Abhijeet03s commented on #88
![Price-Tiers](https://user-images.githubusercontent.com/107188710/195921872-557e8751-b394-4eef-9260-5dd51df37fb9.png)

Also what is this Font Price templates ?

[2022-10-14 20:15] ElvinPero commented on #88
i Want a home page with background design animations simple . everything is written in the issue. not change in nav

[2022-10-14 20:20] EXPOLK opened #103 "Didn't Working Buttons Correctly & No About Page"
Didn't working buttons well in index.html and contact.html
No about page to show when clicking nav bar about button

[2022-10-15 02:37] Emilance opened #106 "Correct the misleading links in the contribution guidelines"
Most of the links in the contribution guideline are pointing to another  repository, which can be a misleading  tool for opensource newbies that rely on the guidelines, I  will  correct all these misleading  links.
kindly assign this to me

[2022-10-15 02:49] ElvinPero commented on #106
@Emilance GO Ahead

[2022-10-15 04:20] UditDe opened #107 "About Us button"
I want to work on about us button so that it will redirect to the about us section the same page and will not show any 404 error message. So please assing it to me .

[2022-10-15 04:21] Abhijeet03s commented on #88
Okay.

[2022-10-15 04:40] UditDe opened #108 "Preloader page"
I want to make a preloader page for this website. Please assing it to me.

[2022-10-15 04:43] Shinchan3102 opened #109 "about us section in the home page is not responsive"
@ElvinPero please assign me this task i want to work on it

[2022-10-15 04:53] Shinchan3102 commented on #109
@ElvinPero about us image part is not responsive for the mobile phones, can i work on this issue?

[2022-10-15 04:55] ElvinPero commented on #109
@Shinchan3102 COMPLETE ABOUT US NEEDS TO BE FIXED

[2022-10-15 04:55] #109 closed

[2022-10-15 05:40] #87 closed

[2022-10-15 06:21] MohitNamdev22 opened #111 "Back to top button not properly visible in Dark Mode"
In dark mode, the back-to-top button isn't visible due to a background color issue. So, Can I work on this issue under hacktoberfest 22'?
Before -
![image](https://user-images.githubusercontent.com/89779447/195972409-50c2c7ec-2961-45d3-b8f5-1dec5176f655.png)

After -
![image](https://user-images.githubusercontent.com/89779447/195972395-0f402a37-0a86-48af-a4db-19a59108f3c7.png)

[2022-10-15 09:55] iwantdollar opened #112 "dark mode does not work on contact us page"
it also contains a checkbox button[
![Screenshot 2022-10-15 152248](https://user-images.githubusercontent.com/103523947/195980265-f05d15d6-3b6e-45b3-85bc-2fee8973d9a1.png)

[2022-10-15 09:55] iwantdollar commented on #112
![Screenshot 2022-10-15 152155](https://user-images.githubusercontent.com/103523947/195980291-76aa1899-f753-4a84-bfc1-58e1d22a9acd.png)

[2022-10-15 09:59] iwantdollar opened #113 "broken link in contacts us page"
![Screenshot 2022-10-15 152604](https://user-images.githubusercontent.com/103523947/195980424-754ee4cd-fdce-41cc-b1cb-9d05d648c62d.png)

[2022-10-15 10:01] devjain2309 opened #114 "Sign Up Button"
Sign up button on the main page has not similar in color to the free trial button which is not user-friendly.
assign me this task to change it to a similar color.

[2022-10-15 10:42] saran1522 opened #116 "I want to add a Sign Up Page"
There is a signup option but no page is there for signing up. I will add a signup page so please assign me this issue.

[2022-10-15 10:48] ElvinPero commented on #116
Right now there is no need for a sign up page . home page design is what needed right now

[2022-10-15 10:51] #116 closed

[2022-10-15 10:55] saran1522 opened #117 "Price template is overlapping/touching to Nav Bar and About Us Section"
I think the template will look good if it has some gaps from the sections. I can correct them and also do some more styling if you want. THANKS!

[2022-10-15 12:15] ElvinPero commented on #106
@Emilance Are you working on this?

[2022-10-15 12:16] ElvinPero commented on #112
@iwantdollar Can you design a good contact us page which has links to home about us git and has good theme as well

[2022-10-15 12:25] #117 closed

[2022-10-15 12:25] #114 closed

[2022-10-15 12:26] ElvinPero commented on #113
@iwantdollar contact us nneeds to be designed . you can ask from assign there

[2022-10-15 12:26] #113 closed

[2022-10-15 12:26] #112 closed

[2022-10-15 12:27] ElvinPero commented on #111
sorry but too simplistic .. wont be considered under hacktoberfest. You can still work on it though

[2022-10-15 12:27] #111 closed

[2022-10-15 12:28] #107 closed

[2022-10-15 12:29] #103 closed

[2022-10-15 12:29] ElvinPero commented on #88
@Abhijeet03s what is the progress

[2022-10-15 13:08] devjain2309 commented on #114
@ElvinPero
But because of that button, as a user home page looks bad or different to me.
I think you must have to add my PR.

[2022-10-15 13:09] ElvinPero commented on #114
@devjain2309 Currently there are other issues to handle . You can work on something else though

[2022-10-15 13:19] devjain2309 opened #119 "Enhancement in texts and buttons"
On the homepage, lots of text and buttons are not correctly colored when hovering on them in both dark mode and light mode.
If you want to make it correct assign me this task.

buttons and texts are -
search button
sign up button
scroll up button
navbar texts

these are some elements that I noticed

[2022-10-15 13:19] subrato3 opened #120 "changing hover effect of the submit button in contact us section"
Improving the hover effect of the submit button in contact us section

please assign me this issue

[2022-10-15 13:32] Abhijeet03s commented on #88
@ElvinPero  check the video below.
And tell me the changes you want.

[Price-Tiers.webm](https://user-images.githubusercontent.com/107188710/195989123-735f6a54-6109-486f-bd8b-63191bf8d3ab.webm)

[2022-10-15 13:35] ElvinPero commented on #88
Can you take a video with light background so it can be made for dark mode as well

[2022-10-15 13:51] Abhijeet03s commented on #88
[Price-Tiers.webm](https://user-images.githubusercontent.com/107188710/195990035-d826a5f5-5434-4209-8808-84e4214e23de.webm)

Check this out but the navbar disappears as we reach the about section.

[2022-10-15 14:39] YuriCodes opened #121 "Make dark mode more accessible"
Making the dividing lines and other visual elements will provide the right contrast for accessibility issues for people with low vision.

I can work on this if you'd like.

example:

<img width="1259" alt="Screen Shot 2022-10-15 at 10 36 12 AM" src="https://user-images.githubusercontent.com/80093500/195992254-6fe7af0b-a682-4d50-8ad4-f16e1f6df3b1.png">

[2022-10-15 15:19] EXPOLK opened #122 "Contact Us Page Buttons Didnt Work Properly"
On the contact us page buttons didn't work correctly

[2022-10-15 15:44] ElvinPero commented on #120
@subrato3 contact us needs to be worked on as whole

[2022-10-15 15:44] #120 closed

[2022-10-15 15:53] ElvinPero commented on #121
@YuriCodes Sure go ahead. and please do the following changes .
1)contrast
2)button glow
3)Colors blue is fine please alter red of light mode to be a little pinkish. dont alter dark of red ,dark is fine.
and add a greenish blue color instead of purple

also for about us rectangle.
4)Put cursor to pointer for dark mode toggle when we over

[2022-10-15 15:54] ElvinPero commented on #122
@EXPOLK Contact us page needs to be changed .its in other issue

[2022-10-15 15:57] ElvinPero commented on #88
can you find some other animations .ok do one thing select a list of background animation designs and send me the link before implementing. I will choose then u can implement it one the site .Hope that helps

[2022-10-15 15:57] ElvinPero commented on #88
@Abhijeet03s You can drop links in this comment sec of some animations.

[2022-10-15 15:59] ElvinPero commented on #108
@UditDe Have you got some good preloaders

[2022-10-15 16:00] Abhijeet03s commented on #88
Okay, that seems like a better solution. I will send the links in some time.

[2022-10-15 16:12] ElvinPero commented on #88
@Abhijeet03s Yes take your time

[2022-10-15 16:19] #122 closed

[2022-10-16 03:28] arindam369 opened #124 "Contact Us page bug fix"
In contact us page there is a slider as well as  the check box this need to be fixed. Can you assign me ?

[2022-10-16 03:29] arindam369 opened #125 "Contact Us : Navbar"
In contact us page, I want to add a Navbar.... Can you attach the hacktoberfest label and assign me this issue ?

[2022-10-16 04:41] ElvinPero commented on #124
@arindam369 Contact us page needs to be build .. ask for assihn on the issue already created .. i will assign you

[2022-10-16 04:41] #124 closed

[2022-10-16 04:41] ElvinPero commented on #125
@arindam369 go to contact us issue

[2022-10-16 04:41] #125 closed

[2022-10-16 04:42] ElvinPero commented on #119
@devjain2309 already given to someone

[2022-10-16 04:42] #108 closed

[2022-10-16 10:32] iwantdollar commented on #112
Yes, I will.

[2022-10-16 11:05] ElvinPero commented on #89
@Kritika30032002 Is your PR ready?

[2022-10-16 11:07] harshilshah99 commented on #89
Please assign to me I have already made a pull request you can check it for enabling **dark mode.**

[2022-10-16 11:17] ElvinPero commented on #121
@YuriCodes Any updates?

[2022-10-16 11:18] #119 closed

[2022-10-16 11:18] ElvinPero commented on #88
@Abhijeet03s Did you find something.. Keep me updated

[2022-10-16 11:21] ElvinPero commented on #89
@harshilshah99 @Kritika30032002 Had said in morning she will send a PR which hasnt come yet,
If her PR doesnt come by tomorrow morning I will assign you and some changes have to be made in your commit which I will tell you.

[2022-10-16 11:26] harshilshah99 commented on #89
Ok, I will surely make changes if you assign it to me.

[2022-10-16 11:52] sriramraju-96 opened #128 "Updating Bottom to Top Button"
The bottom to Top button is not designed properly.

[2022-10-16 14:20] Purva2803 commented on #106
can I work on this issue I will replace the misleading links and add some more details about the project.

[2022-10-16 16:13] YuriCodes commented on #121
I'll work on it right now, thank u

[2022-10-16 16:38] Abhijeet03s commented on #88
Hey @ElvinPero, I found these background animations only.
If you like these do let me know otherwise I think you should assign this to someone else as I am not very good at the design part.

[Bubble-Float.webm](https://user-images.githubusercontent.com/107188710/196047165-c04d7be8-d4da-4e4e-9062-80212543798e.webm)

[Shooting-Star.webm](https://user-images.githubusercontent.com/107188710/196047170-

[2022-10-16 16:40] ElvinPero commented on #106
@Purva2803 go ahead

[2022-10-16 16:41] ElvinPero commented on #121
@YuriCodes Go ahead

[2022-10-17 09:54] harshilshah99 opened #131 "Placeholder not visible in Contact page in dark mode and in Home page the take you top arrow css is not good"
<img width="960" alt="image" src="https://user-images.githubusercontent.com/82211574/196147340-c2aa9380-d746-4dc3-bead-ba1b16ad3be0.png">

In this image square box in the bottom-right should have an arrow so users can use it conviniently.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/82211574/196147749-94004c93-5c27-46eb-844c-f30996e75b4b.png">

The place holder are

[2022-10-17 10:59] #89 closed

[2022-10-17 14:58] sriramraju-96 commented on #128
@ElvinPero can I solve this?

[2022-10-17 14:59] ElvinPero commented on #128
@sriramraju-96 yes please do

[2022-10-17 15:01] sriramraju-96 commented on #128
@ElvinPero How can I get issue number?

[2022-10-17 15:02] ElvinPero commented on #128
Its already there

[2022-10-17 16:37] ElvinPero commented on #88
2nd one commet looks fine

[2022-10-18 05:31] Abhijeet03s commented on #88
I tried implementing this but it looks so ugly. Actually, the main problem is that it doesn't fit in light mode.
So I don't think we should continue with these animations.
Also, I have to write SASS for this one. This will break the workflow of your website.

[2022-10-18 05:46] ElvinPero commented on #88
Ok then n=just design a normal homepage

[2022-10-18 05:46] ElvinPero commented on #88
@Abhijeet03s

[2022-10-18 17:18] gkumar-pandey opened #134 "Home page is not responsive"
Hey @ElvinPero
i would like to make contact page form mobile responsive
please assign to me

[2022-10-18 17:45] ElvinPero commented on #134
@gkumar-pandey you can make home page for now

[2022-10-18 18:17] gkumar-pandey commented on #134
assign this to me

[2022-10-18 18:30] ElvinPero commented on #134
See the homepage issue and read the description in comments..if you think you can do it then ask for assign in comments ..i will assign you

[2022-10-19 04:47] #131 closed

[2022-10-19 05:19] #121 closed

[2022-10-21 07:09] Abhijeet03s commented on #88
Sorry @ElvinPero, currently I am a bit busy with some other work so won't able to work on this. So it's better if you assign it to someone else.
Once again sorry for the inconvenience.

[2022-10-21 07:11] ElvinPero commented on #88
No problem👍

[2022-10-21 11:00] divya-nshi commented on #128
@ElvinPero  The bottom to top button u r asking to design id this only right?
![image](https://user-images.githubusercontent.com/96721993/197180829-d13065c1-685c-432e-a0d6-7d12fd8a05c9.png)
what type of styling u want to give in this button?

[2022-10-21 14:08] sriramraju-96 commented on #128
@ElvinPero Actually when I cloned project arrow is not shown on the button. I thought of updating it. But later when I cloned latest, it's there. So I stopped working on it.

[2022-10-25 17:45] Swadeshit27 opened #135 "Add social icons in footer section"

[2022-10-25 17:46] Swadeshit27 commented on #135
@ElvinPero assign me this.